<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="localDatabase"
    providerName="System.Data.SqlClient"
    connectionString="Data Source=(LocalDB)\v11.0;AttachDbFileName=|DataDirectory|\ExpenseManager.mdf; Initial Catalog=ExpenseManager;Integrated Security=True;MultipleActiveResultSets=True" />
  </connectionStrings>
  <system.web>

    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />


  <authentication mode="Forms">
    <forms loginUrl="Login.aspx" name="sqlAuthCookie" timeout="60" path="/" />
  </authentication>
  <authorization>
    <deny users="?" />
    <allow users="*" />
  </authorization>
  <roleManager enabled="true" defaultProvider="EM_RoleProvider">
    <providers>
      <add name="EM_RoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="localDatabase" applicationName="/" />
    </providers>
  </roleManager>
  <membership defaultProvider="EM_MembershipProvider">
    <providers>
      <add name="EM_MembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="localDatabase" applicationName="/" />
    </providers>
  </membership>
  <profile defaultProvider="SqlProfileProvider">
    <providers>
      <clear />
      <add name="SqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="localDatabase" applicationName="/" description="SqlProfileProvider for ExpenseManager" />
    </providers>
    <properties>
    </properties>
  </profile>
  </system.web>
  <appSettings>
    <!--This turns disables the new .net 4.5 validationmode which required jquery libraries, instead we will use the version from .net 4-->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!-- Defines the path used to store the receipts of each expense item -->
    <add key="ReceiptItemFilePath" value="/Receipts/" />
    <!-- Company wide monthly budget-->
    <add key="CompanyMonthlyBudget" value="30000"/>
    <add key="DepartmentMonthlyBudget" value="10000"/>
    <!-- AUD values for each currency as at 04/04/2014 i.e. $1 EUR buys $1.49 AUD-->
    <add key="CNY" value="0.17430"/>
    <add key="EUR" value="1.49146"/>
  </appSettings>
</configuration>
