<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="ThreeAmigos.ExpenseManagement.Test.Local" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="localDatabase"
  providerName="System.Data.SqlClient"
  connectionString="Data Source=(LocalDB)\v11.0;AttachDbFileName=|DataDirectory|\ExpenseManager.mdf; Initial Catalog=ExpenseManager;Integrated Security=True;MultipleActiveResultSets=True" />
	</connectionStrings>
 <userSettings>
  <ThreeAmigos.ExpenseManagement.Test.Local>
   <setting name="Setting" serializeAs="String">
    <value />
   </setting>
  </ThreeAmigos.ExpenseManagement.Test.Local>
 </userSettings>
</configuration>