<?xml version="1.0"?>
<configuration>
 <connectionStrings>
		<add name="localDatabase"
  providerName="System.Data.SqlClient"
  connectionString="Data Source=(LocalDB)\v11.0;AttachDbFileName='|DataDirectory|\32013-Assignment1\App_Data\ExpenseManager.mdf'; Initial Catalog=ExpenseManager;Integrated Security=True;MultipleActiveResultSets=True" />
	</connectionStrings>
	<appSettings>
		<!--This turns disables the new .net 4.5 validationmode which required jquery libraries, instead we will use the version from .net 4-->
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<!-- Defines the path used to store the receipts of each expense item -->
		<add key="ReceiptItemFilePath" value="~/Receipts/" />
		<!-- Company wide monthly budget-->
		<add key="CompanyMonthlyBudget" value="30000"/>
		<add key="DepartmentMonthlyBudget" value="10000"/>
		<!-- AUD values for each currency as at 04/04/2014 i.e. $1 EUR buys $1.49 AUD-->
		<add key="CNY" value="0.17430"/>
		<add key="EUR" value="1.49146"/>
	</appSettings>
</configuration>